# Packages
.cask

# Configuration
emacs.el
custom.el

# Data
.org-id-locations
abbrev_defs
ac-comphist.dat
auto-save-list
backups
bookmarks
elpa
eshell
kkcrc
projectile-bookmarks.eld
recentf
savehist
server
session.*
tramp
url
var